@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  /* font-family: "Dancing Script", "Helvetica Neue", cursive; */
  font-family: "DM Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.catList {
  background-color: #145260;
}
.catList p span {
  color: #ffffff;
  fill: #ffffff;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1;
}
